<%if object.errors.any?%>
	<div id="validation">
		<h5><%= pluralize(object.errors.count, "error")%> being save or edit post</h5>
		<ol>
			<% object.errors.full_messages.each do |msg|%>
				<li><%= msg %></li>
			<% end %>
		</ol>
	</div>
<% end %>